@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

p,
.aboutMe li {
  color: #414141;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.lightTheme {
  background: #fafafa;
  -webkit-box-shadow: 0 0 10px 5px #ccdce3;
          box-shadow: 0 0 10px 5px #ccdce3;
  -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.darkTheme {
  background: #212121;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.darkTheme p,
.darkTheme .aboutMe li {
  color: #aaa;
}

.darkTheme h1 {
  color: #fe5e41;
}

.darkTheme .aboutMe h3,
.darkTheme .aboutMe ul i {
  color: #fe5e41;
}

.darkTheme section li,
.darkTheme h4 {
  color: #eee;
}

body.lightTheme {
  background: #f7f4f3;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

body.darkTheme {
  background: #19191b;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

*[class*="1"] {
  background: #fe5e41;
}

*[class*="2"] {
  background: #ff9f1c;
}

*[class*="3"] {
  background: #ffbf69;
}

*[class*="4"] {
  background: #44f0c2;
}

*[class*="5"] {
  background: #6ea9f2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header .decoration {
  font-family: "Roboto", sans-serif;
  width: 20%;
  text-align: center;
  height: 5px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  -webkit-animation: preloader 1.8s ease;
          animation: preloader 1.8s ease;
  color: transparent;
}

header .decoration1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

header .decoration2 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

header .decoration3 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

header .decoration4 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

header .decoration5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes preloader {
  0%,
  100% {
    height: 5px;
    font-size: 2rem;
  }
  5%,
  95% {
  }
  50% {
    color: #fafafa;
    line-height: 1.6;
    height: 15px;
  }
}

@keyframes preloader {
  0%,
  100% {
    height: 5px;
    font-size: 2rem;
  }
  5%,
  95% {
  }
  50% {
    color: #fafafa;
    line-height: 1.6;
    height: 15px;
  }
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 80vh;
  width: 25%;
  margin-top: 10vh;
  margin-left: 10%;
  padding-top: 20px;
  border-radius: 20px 0 0 20px;
  text-align: center;
}

aside .imgContainer {
  width: 70%;
  margin: 0 auto;
}

aside img {
  border-radius: 50%;
  max-width: 225px;
  max-height: 100%;
  margin: 0 auto;
}

aside span {
  display: inline-block;
  width: 100%;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin: 5px;
}

aside .hamburgerMenu {
  display: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 0 0 0 20px;
  position: relative;
  text-align: left;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

nav .mobileMenu {
  display: none;
}

nav a {
  font-size: 2rem;
  padding: 2.5px;
  position: relative;
  z-index: 2;
  width: 100%;
}

nav .fas {
  margin-left: calc(5% - 10px);
  margin-right: 10%;
  color: #fafafa;
}

nav li {
  position: relative;
  -webkit-transition: color 0.3s, text-shadow 0.3s;
  transition: color 0.3s, text-shadow 0.3s;
}

nav li:last-of-type {
  border-radius: 0 0 0 20px;
}

nav li span {
  display: inline-block;
  width: 20%;
  padding: 0 5%;
}

nav li:not(.activeNav):hover {
  text-shadow: 1px 1px 1px black;
}

nav li:not(.activeNav):hover.nav1 {
  color: #fe5e41;
}

nav li:not(.activeNav):hover.nav2 {
  color: #ff9f1c;
}

nav li:not(.activeNav):hover.nav3 {
  color: #ffbf69;
}

nav li:not(.activeNav):hover.nav4 {
  color: #44f0c2;
}

nav li:not(.activeNav):hover.nav5 {
  color: #6ea9f2;
}

nav li:after {
  content: " ";
  position: absolute;
  width: calc(90% - 25px);
  height: 100%;
  top: 0;
  right: 0;
  -webkit-transition: width 0.4s, background 0.5s, border 0.5s;
  transition: width 0.4s, background 0.5s, border 0.5s;
}

nav li.lightThemeAfter:after {
  background: #fafafa;
  border-bottom: 0.5px solid #f2f1f1;
  border-top: 0.5px solid #f2f1f1;
}

nav li.darkThemeAfter {
  color: #fafafa;
}

nav li.darkThemeAfter:after {
  background: #212121;
  border-bottom: 0.5px solid #212121;
  border-top: 0.5px solid #212121;
}

nav li.activeNav:after {
  width: 0%;
}

nav li.activeNav {
  color: #fafafa;
  text-shadow: 1px 1px 1px black;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

main {
  height: 100vh;
  width: 65%;
  position: relative;
  overflow: scroll;
  scroll-padding-top: 10vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  height: 80vh;
  margin: 10vh 20px 20vh;
  -webkit-box-shadow: 0 0 10px 5px #ccdce3;
          box-shadow: 0 0 10px 5px #ccdce3;
  border-radius: 0;
  width: calc(79.5% - 40px);
  scroll-snap-align: start;
  padding-top: 20px;
}

section:first-of-type {
  margin-top: 10vh;
}

section:last-of-type {
  margin-bottom: 10vh;
}

section h2 {
  width: 30%;
  min-width: 170px;
  padding: 10px 0 10px 20px;
  color: #fafafa;
  text-transform: capitalize;
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px black;
}

section h2 i {
  margin-right: 5px;
}

section p {
  font-size: 1.6rem;
  margin: 20px;
  color: #707070;
}

.aboutMe .imgContainerMobile {
  display: none;
}

.aboutMeContainer {
  width: 100%;
  height: auto;
  padding: 0 20px 20px;
}

.aboutMe h1 {
  font-size: 3.5rem;
  margin: 20px 0;
  text-align: center;
}

.aboutMe .blurb {
  font-size: 2rem;
  text-align: left;
  width: 100%;
  margin: 20px auto;
}

.aboutMe .blurb span {
  color: #fe5e41;
  font-weight: bold;
}

.aboutMe h3 {
  font-size: 2.5rem;
  margin: 20px auto 10px;
  border-top: 1px solid grey;
  padding-top: 20px;
  text-align: center;
  color: #6ea9f2;
}

.aboutMe ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
}

.aboutMe ul li {
  width: calc(50% - 20px);
  margin: 5px 10px 5px 0;
  color: #414141;
  font-size: 2rem;
}

.aboutMe ul li:nth-of-type(odd) {
  text-align: right;
}

.aboutMe ul li:nth-of-type(odd) i {
  display: none;
}

.aboutMe ul i {
  margin-right: 10px;
  color: #6ea9f2;
}

.aboutMe ul span:nth-child(odd) {
  font-weight: bold;
}

.aboutMe ul span {
  width: 50%;
}

.aboutMe .contentImgContainer {
  width: 30%;
  min-width: 170px;
  padding: 20px;
}

.aboutMe .contentImgContainer img {
  border-radius: 0;
}

.portfolioContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: calc(100% - 65.3px);
  width: calc(100% - 20px);
  margin: 10px auto;
}

.portfolio .projectContainer {
  position: relative;
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  margin: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  background: transparent;
}

.portfolio .imgContainer {
  position: relative;
  height: 100%;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  padding: 20px;
  border-radius: 5px;
}

.portfolio .infoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-align: center;
  border-radius: 5px;
}

.portfolio .infoContainer h3 {
  width: 100%;
  font-size: 2rem;
}

.portfolio .infoContainer p,
.portfolio .infoContainer li {
  color: black;
  font-size: 1.8rem;
}

.portfolio .infoContainer p {
  margin: 0;
}

.portfolio .infoContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
}

.portfolio .infoContainer li {
  width: 33%;
  border-right: 1px solid black;
}

.portfolio .infoContainer li:last-of-type {
  border: none;
}

.portfolio .infoContainer a {
  font-size: 1.8rem;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 1px #8f8f8f;
          box-shadow: 0px 0px 1px #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  border-radius: 5px;
  background: #fafafa;
  margin: 10px 10px;
  width: calc(50% - 20px);
  -webkit-transition: margin 0.2s, -webkit-box-shadow 0.2s;
  transition: margin 0.2s, -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s, margin 0.2s;
  transition: box-shadow 0.2s, margin 0.2s, -webkit-box-shadow 0.2s;
}

.portfolio .infoContainer a:hover, .portfolio .infoContainer a:focus {
  -webkit-box-shadow: 0 2px 1px #8f8f8f;
          box-shadow: 0 2px 1px #8f8f8f;
  margin: 8px 10px 12px;
}

.portfolio .infoContainer a:active {
  margin: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.portfolio .projectContainer:hover .infoContainer,
.portfolio .projectContainer:focus .infoContainer,
.portfolio .projectContainer:focus-within .infoContainer {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  visibility: visible;
}

.portfolio .projectContainer:hover .imgContainer,
.portfolio .projectContainer:focus .imgContainer,
.portfolio .projectContainer:focus-within .imgContainer {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.portfolio .projectOne .infoContainer {
  background: #fe5e41;
}

.portfolio .projectTwo .infoContainer {
  background: #ff9f1c;
}

.portfolio .projectThree .infoContainer {
  background: #ffbf69;
}

.portfolio .projectFour .infoContainer {
  background: #44f0c2;
}

.portfolio img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.skills ul {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  height: 80%;
}

.skills.lightTheme li {
  -webkit-box-shadow: 0 0 10px 2px #ccdce3;
          box-shadow: 0 0 10px 2px #ccdce3;
}

.skills.darkTheme li img {
  -webkit-filter: drop-shadow(1px 1px 1px #525252);
          filter: drop-shadow(1px 1px 1px #525252);
}

.skills.darkTheme li i {
  color: #2e2e2e;
  text-shadow: 1px 1px 1px #525252;
}

.skills.darkTheme li h3 {
  color: #2e2e2e;
  text-shadow: 1px 1px 1px #525252;
}

.skills li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(20% - 10px);
  margin: 5px;
  padding: 20px 0px;
  -webkit-transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, -webkit-box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s;
  transition: background 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.skills li div {
  width: 85%;
  padding: 10px 0;
  margin: 7.5%;
}

.skills li i {
  font-size: 6rem;
  background: transparent;
  color: #fafafa;
  text-shadow: 1px 1px 1px black;
}

.skills li img {
  height: 60px;
  width: auto;
  margin: 0 auto;
  -webkit-filter: drop-shadow(1px 1px 1px black);
          filter: drop-shadow(1px 1px 1px black);
}

.skills h3 {
  font-size: 1.7rem;
  background: transparent;
  text-shadow: 1px 1px 1px black;
  color: #fafafa;
}

.dropDown {
  position: absolute;
  top: 16px;
  right: 20px;
  display: inline-block;
  border-right: 2px solid #fafafa;
  border-bottom: 2px solid #fafafa;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.resume {
  overflow-y: hidden;
  padding-bottom: 0;
}

.resume h3 {
  position: relative;
  width: calc(100% - 20px);
  padding: 10px 20px;
  font-size: 2rem;
  color: #fafafa;
}

.resume p {
  font-size: 1.6rem;
  margin: 0;
}

.resume h4 {
  font-size: 1.6rem;
}

.resume h4 span {
  font-style: italic;
  font-weight: normal;
  font-size: 1.6rem;
}

.resume li {
  font-size: 1.6rem;
}

.resume .bulletPoint {
  position: relative;
  margin: 0;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}

.resume .bulletPoint:before {
  content: " ";
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0.5;
  position: absolute;
  top: 0;
  left: -28px;
  border-radius: 50%;
}

.resume .resumeInfo {
  position: relative;
  height: 0;
  -webkit-transition: height 0.5s, margin 0.5s;
  transition: height 0.5s, margin 0.5s;
  background: inherit;
  color: inherit;
  padding: 0 20px;
}

.resume .resumeInfo > ul {
  padding: 10px 0 10px 20px;
  height: 100%;
}

.resume h3.activeResume span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.resume h3.activeResume + .resumeInfo {
  position: relative;
  height: calc(80vh - 194px);
}

.resume h3.activeResume + .resumeInfo .bulletPoint {
  margin-bottom: 10px;
}

.employment .duration {
  color: #fe5e41;
}

.employment > ul {
  border-left: 2px solid #fe5e41;
}

.employment .bulletPoint:before {
  background: #fe5e41;
}

.education li {
  font-size: 1.6rem;
  font-weight: bold;
}

.education li span {
  font-style: italic;
  font-weight: normal;
}

.education p {
  font-weight: normal;
  color: #ff9f1c;
}

.education > ul {
  border-left: 2px solid #ff9f1c;
}

.education .bulletPoint:before {
  background: #fe5e41;
}

.communityInvolvement .duration {
  color: #ffbf69;
}

.communityInvolvement > ul {
  border-left: 2px solid #ffbf69;
}

.communityInvolvement .bulletPoint:before {
  background: #ffbf69;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0;
}

.contact h2 {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.contact p {
  width: 100%;
  text-align: center;
}

.contact p a {
  text-decoration: underline;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
  margin: 20px;
  width: 100%;
}

.contact input {
  width: calc(50% - 10px);
  margin: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact input:first-of-type {
  margin-right: 20px;
}

.contact textarea {
  width: 100%;
  height: 200px;
  resize: none;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact input,
.contact textarea {
  border-radius: 0px;
  padding: 10px;
  border: none;
  border: 2px solid #6ea9f2;
  margin-top: 20px;
}

.contact input[type="submit"] {
  width: 100%;
  background: #6ea9f2;
}

.contact form.lightTheme {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact form.darkTheme input:not([type="submit"]),
.contact form.darkTheme textarea {
  color: #fafafa;
  background: #555;
}

.contact form.darkTheme ::-webkit-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme :-ms-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme ::-ms-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
}

.contact form.darkTheme ::placeholder {
  color: #fafafa;
  opacity: 0.7;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  margin-top: 10vh;
  position: absolute;
  right: 10%;
  z-index: 2;
}

footer.lightTheme, footer.darkTheme {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer button,
footer a {
  width: 50px;
  height: 50px;
  font-size: 1.4rem;
  margin: 2.5px 0;
  color: #fafafa;
  -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer button.lightTheme,
footer a.lightTheme {
  -webkit-box-shadow: 0 0 10px 2px #ccdce3;
          box-shadow: 0 0 10px 2px #ccdce3;
  background: #2e2e2e;
}

footer button.darkTheme,
footer a.darkTheme {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .social.lightTheme {
  background: #6ea9f2;
}

footer button:active,
footer a:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translateY(2.5px);
          transform: translateY(2.5px);
}

footer .toggle {
  border-radius: 0 20px 0 0;
  margin: 0;
}

footer .toggle:hover {
  cursor: pointer;
}

footer .twitter {
  font-size: 1.5rem;
}

footer .linkedIn {
  font-size: 1.7rem;
}

footer .github {
  font-size: 1.7rem;
}

footer .lightTheme.download,
footer .darkTheme.download {
  border-radius: 0 0 20px 0;
  margin: 0;
}

footer button:hover,
footer a:hover {
  font-size: 1.7rem;
}

footer button:hover i.fa-sun, footer button:hover.twitter,
footer a:hover i.fa-sun,
footer a:hover.twitter {
  font-size: 2rem;
}

footer button:hover .github,
footer a:hover .github {
  font-size: 2.2rem;
}

footer button:hover.linkedIn,
footer a:hover.linkedIn {
  font-size: 2rem;
}

footer button i,
footer a i {
  -webkit-transition: font-size 0.4s;
  transition: font-size 0.4s;
}

footer button i.show,
footer a i.show {
  display: inline;
}

footer button i.hide,
footer a i.hide {
  display: none;
}

footer button i.fa-sun,
footer a i.fa-sun {
  font-size: 1.6rem;
}

@media (max-width: 1140px) {
  .wrapper {
    width: 100%;
    padding: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer {
    right: 40px;
  }
  section {
    margin-left: 10px;
    width: calc(99.5% - 110px);
  }
  aside {
    margin-left: 40px;
    width: 20%;
  }
  aside .imgContainer {
    width: 85%;
  }
  main {
    width: calc(80%);
  }
  section.skills div {
    width: 100%;
    margin: 0 0 5px;
  }
  section.skills ul {
    margin: 0 auto;
    width: calc(100% - 20px);
  }
  section.skills li {
    width: calc(20% - 20px);
    margin: 5px 10px;
  }
  section.skills li i {
    font-size: calc(1rem + 4vw);
  }
  section.skills li img {
    height: calc(1rem + 4vw);
  }
}

@media (max-width: 1025px) {
  header .decoration {
    height: 0;
    -webkit-animation: none;
            animation: none;
  }
  .wrapper {
    position: relative;
    display: block;
    outline: 1px solid red;
    margin: 0;
  }
  .lightTheme {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  aside {
    display: block;
    padding: 0;
    width: 100%;
    height: auto;
    margin: 0;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 2;
    border-radius: 0;
  }
  aside.lightTheme, aside.darkTheme {
    background: transparent;
  }
  aside.darkTheme nav {
    background: #212121;
  }
  aside.darkTheme .activeNav,
  aside.darkTheme li:hover a {
    color: #fafafa;
  }
  aside .imgContainer {
    display: none;
  }
  aside nav {
    display: block;
    text-align: center;
    border-radius: 0;
    height: 65px;
    padding: 0;
    top: 0;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: #fafafa;
  }
  aside ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 45px;
  }
  aside li {
    width: 20%;
    height: 45px;
    -webkit-box-shadow: inset 0 0 2px 0 black;
            box-shadow: inset 0 0 2px 0 black;
  }
  aside li:last-of-type {
    border-radius: 0;
  }
  aside li.lightThemeAfter:after {
    border: none;
  }
  aside li span {
    display: none;
  }
  aside li:after {
    height: 0%;
    top: 100%;
    left: 3px;
    width: calc(100% - 6px);
    border-radius: 5px 5px 0 0;
  }
  aside li:hover:not(.activeNav) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  aside li:hover a {
    color: black;
  }
  aside li.activeNav {
    color: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow-y: hidden;
    text-shadow: none;
  }
  aside li.activeNav:before {
    content: "";
    width: 80%;
    bottom: 0px;
    height: 2px;
    background: inherit;
    border-radius: 2px;
    z-index: 2;
    left: 10%;
    position: absolute;
  }
  aside li.activeNav:after {
    height: calc(100% - 3px);
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 -2px 2px black;
            box-shadow: 0 -2px 2px black;
  }
  aside li:first-of-type:after {
    width: calc(100% - 3px);
    left: 0;
    border-radius: 0 5px 0 0;
  }
  aside li:last-of-type:after {
    width: calc(100% - 3px);
    border-radius: 5px 0 0 0;
  }
  aside a {
    padding: 10px 5px;
    font-size: 1.8rem;
  }
  main {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 5px #ccdce3;
            box-shadow: 0 0 10px 5px #ccdce3;
  }
  .darkTheme main {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  section {
    padding: 60px 0;
    width: 100%;
    margin: 0;
    height: auto;
  }
  section.darkTheme {
    background: #212121;
  }
  section h2 {
    position: relative;
    width: calc(100% - 40px);
    margin: 20px auto;
    padding: 0;
    font-size: 4rem;
    border-bottom: 2px solid;
    text-transform: uppercase;
  }
  section h2[class*="header"] {
    background: transparent;
  }
  section h2:after {
    position: absolute;
    left: 0;
    bottom: 0px;
    opacity: 0.3;
    font-size: 6rem;
    line-height: 1;
    text-transform: uppercase;
  }
  section h2[class*="1"] {
    color: #fe5e41;
    border-color: #fe5e41;
  }
  section h2[class*="1"]:after {
    content: "about me";
    color: #ce7f71;
  }
  section h2[class*="2"] {
    color: #ff9f1c;
    border-color: #ff9f1c;
  }
  section h2[class*="2"]:after {
    content: "portfolio";
    color: #c69655;
  }
  section h2[class*="3"] {
    color: #ffbf69;
    border-color: #ffbf69;
  }
  section h2[class*="3"]:after {
    content: "skills";
    color: #daba8f;
  }
  section h2[class*="4"] {
    color: #44f0c2;
    border-color: #44f0c2;
  }
  section h2[class*="4"]:after {
    content: "resume";
    color: #77beab;
  }
  section h2[class*="5"] {
    color: #6ea9f2;
    border-color: #6ea9f2;
  }
  section h2[class*="5"]:after {
    content: "contact";
    color: #96adcb;
  }
  section h2 .fas {
    display: none;
  }
  section.aboutMe {
    margin-top: 0;
    height: auto;
  }
  section.aboutMe .imgContainerMobile {
    display: block;
    position: relative;
    width: calc(30% - 20px);
    margin: 0px 20px 5px 0;
    float: left;
  }
  section.aboutMe img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  section.aboutMe h1 {
    margin: 20px 0 20px 30%;
    text-align: left;
    width: 70%;
  }
  section.aboutMe h3 {
    clear: both;
  }
  .portfolioContainer {
    margin-bottom: 0;
    height: auto;
  }
  .portfolio .projectContainer,
  .portfolio .imgContainer {
    -webkit-perspective: none;
            perspective: none;
    -webkit-transform: none;
            transform: none;
  }
  .portfolio img {
    height: auto;
  }
  .portfolio .projectContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 220px;
    max-height: 280px;
    border-radius: 5px;
    overflow: hidden;
  }
  .portfolio .projectContainer.projectOne {
    background: #fe5e41;
  }
  .portfolio .projectContainer.projectTwo {
    background: #ff9f1c;
  }
  .portfolio .projectContainer.projectThree {
    background: #ffbf69;
  }
  .portfolio .projectContainer.projectFour {
    background: #44f0c2;
  }
  .portfolio .projectContainer.projectTwo, .portfolio .projectContainer.projectFour {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .portfolio .projectContainer .infoContainer {
    padding: 20px;
    border-radius: 0;
    width: 60%;
  }
  .portfolio .projectContainer .imgContainer {
    background: transparent;
    border-radius: 0;
    width: 40%;
    height: auto;
  }
  .portfolio .projectContainer .infoContainer,
  .portfolio .projectContainer:hover .infoContainer,
  .portfolio .projectContainer:focus .infoContainer,
  .portfolio .projectContainer:focus-within .infoContainer {
    -webkit-transform: none;
            transform: none;
    visibility: visible;
    position: relative;
  }
  .portfolio .projectContainer:hover .imgContainer,
  .portfolio .projectContainer:focus .imgContainer,
  .portfolio .projectContainer:focus-within .imgContainer {
    -webkit-transform: none;
            transform: none;
  }
  .portfolio h3,
  .portfolio p,
  .portfolio ul {
    margin: 10px 0;
  }
  section.skills ul {
    height: auto;
  }
  section.skills li {
    width: calc(33.33% - 20px);
    margin: 10px;
    border-radius: 5px;
  }
  section.skills li div {
    border-radius: 5px;
  }
  section.skills li i {
    font-size: calc(2rem + 4vw);
  }
  section.skills li img {
    height: calc(2rem + 4vw);
  }
  section.skills h3 {
    font-size: 2rem;
  }
  .resume {
    padding: 60px 0;
  }
  .resume h3 {
    margin: 0 auto;
    width: calc(100% - 40px);
    border-radius: 0 5px 5px 0;
    font-size: 2.5rem;
    padding: 7.5px 20px;
  }
  .resume h3:first-of-type {
    border-radius: 5px 5px 5px 0;
  }
  .resume h3 + .resumeInfo,
  .resume h3.activeResume + .resumeInfo {
    position: relative;
    height: auto;
  }
  .resume h3 span {
    display: none;
  }
  .resume .resumeInfo > ul {
    padding: 30px 0 30px 20px;
    height: auto;
  }
  .resume h4 {
    font-size: 2rem;
  }
  .resume h4 span {
    font-size: 1.8rem;
  }
  .resume p {
    font-size: 1.8rem;
    line-height: 1.25;
  }
  .resume .bulletPoint:before {
    top: 3.5px;
  }
  section.contact {
    margin-bottom: 20px;
  }
  footer {
    height: auto;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 0;
    right: initial;
  }
  footer.lightTheme {
    background: #2e2e2e;
  }
  footer.darkTheme {
    background: #2e2e2e;
  }
  footer .toggle {
    position: fixed;
    right: 0;
    border-radius: 0;
  }
  footer div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer button,
  footer a {
    height: 40px;
    width: 80px;
    margin: 0;
    border: none;
    font-size: 2rem;
  }
  footer button.lightTheme,
  footer a.lightTheme {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  footer button.darkTheme,
  footer a.darkTheme {
    background: #2e2e2e;
  }
  footer button:hover,
  footer a:hover {
    font-size: 2rem;
  }
  footer button:hover .github,
  footer a:hover .github {
    font-size: 1.7rem;
  }
  footer .social,
  footer .social.lightTheme {
    background: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    font-size: 2rem;
  }
  footer .utilitiesContainer {
    width: 160px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer .lightTheme.download,
  footer .darkTheme.download {
    border-radius: 0;
  }
}

@media (max-width: 620px) {
  header .decoration {
    height: 5px;
  }
  aside nav {
    display: none;
  }
  aside ul {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside li {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 5px;
    width: 100%;
    margin: 20px 0;
  }
  aside li.activeNav:after {
    display: none;
  }
  aside li:last-of-type {
    border-radius: 5px;
  }
  aside nav.show {
    display: block;
    height: calc(100vh - 5px);
    margin-top: 5px;
  }
  button.hamburgerMenu {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    display: block;
    z-index: 2;
    background: none;
    font-size: 1rem;
    display: block;
  }
  button.hamburgerMenu:hover {
    font-size: 1rem;
  }
  button.hamburgerMenu .bar {
    width: 100%;
    height: 5px;
    margin: 0;
    background: #454545;
    border-radius: 5px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    left: 0;
  }
  button.hamburgerMenu .barOne {
    top: 5px;
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  button.hamburgerMenu .barTwo {
    top: 17.5px;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: opacity 0.2s transform 0.3s;
    transition: opacity 0.2s transform 0.3s;
  }
  button.hamburgerMenu .barThree {
    bottom: 5px;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  button.hamburgerMenu.showingMenu .barOne {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: 4px;
    margin: 0 0 0 7px;
  }
  button.hamburgerMenu.showingMenu .barTwo {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  button.hamburgerMenu.showingMenu .barThree {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    margin: 0 0 0 7px;
    bottom: 4px;
  }
  section {
    padding: 30px 0;
  }
  section.aboutMe h1 {
    float: right;
    margin: 57.25px 0;
    width: calc(100% - 170px);
  }
  section.aboutMe .imgContainerMobile {
    width: 150px;
  }
  section.aboutMe .blurb {
    clear: both;
  }
  section.aboutMe li,
  section.aboutMe li:nth-of-type(odd) {
    width: 100%;
    text-align: center;
    margin: 2.5px auto;
  }
  section.aboutMe li i,
  section.aboutMe li:nth-of-type(odd) i {
    display: none;
  }
  .portfolio .projectContainer {
    display: block;
    max-height: none;
    height: auto;
  }
  .portfolio .projectContainer .imgContainer {
    margin: 0 auto;
    width: 75%;
  }
  .portfolio .projectContainer .infoContainer {
    width: 80%;
    margin: 0 auto;
    padding: 0 0 20px 0;
    height: auto;
  }
  section.skills ul {
    width: 100%;
    margin: 0 auto;
  }
  section.skills li {
    width: calc(50% - 40px);
    margin: 20px;
    height: auto;
  }
  section.skills li div {
    padding: 0;
    margin-bottom: 15px;
  }
  section.skills li i {
    font-size: 89rem;
  }
  section.skills li img {
    height: 70.5px;
  }
}

@media (max-width: 520px) {
  section.aboutMe h1 {
    font-size: 4rem;
    margin: 29px 0;
  }
  section.aboutMe h1 span {
    display: inline-block;
    width: 100%;
  }
  .contact input,
  .contact textarea {
    font-size: 1.6rem;
  }
  .contact [type="submit"] {
    font-size: 2rem;
  }
}

@media (max-width: 425px) {
  section h2 {
    font-size: 3.5rem;
  }
  section h2:after {
    font-size: 5rem;
    letter-spacing: 0;
    opacity: 0.2;
  }
  section.aboutMe .imgContainerMobile {
    float: none;
    margin: 10px auto;
  }
  section.aboutMe h1 {
    text-align: center;
    float: none;
    margin: 10px auto;
    width: 100%;
    font-size: 3rem;
  }
  section.aboutMe h1 span {
    width: auto;
  }
  section.aboutMe .blurb {
    font-size: 1.8rem;
    margin-top: 0;
  }
  section.aboutMe h3 {
    text-align: center;
    font-size: 2rem;
  }
  section.aboutMe ul {
    margin: 0 auto;
    width: 80%;
  }
  section.aboutMe ul li {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
  }
  section.aboutMe ul i {
    display: none;
  }
  section.skills ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 20px;
  }
  section.skills li {
    margin: 10px 0;
    width: calc(50% - 10px);
  }
  .resume h3,
  .resume h3:first-of-type {
    font-size: 2.1rem;
    border-radius: 5px;
  }
  .resume h4 {
    font-size: 1.8rem;
  }
  .resume h4 span {
    font-size: 1.6rem;
  }
  .resume .employment ul,
  .resume .education ul,
  .resume .communityInvolvement ul {
    border-left: none;
    padding: 20px 0;
  }
  .resume .bulletPoint:before {
    display: none;
  }
  .resume p {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }
  .resume p.duration {
    margin: 0;
  }
  .resume .education .duration {
    margin-bottom: 20px;
  }
  .portfolio .projectContainer .imgContainer {
    width: 100%;
  }
  .contact input {
    width: 100%;
  }
  .contact input:first-of-type {
    margin-right: 0;
  }
  footer a,
  footer .toggle {
    width: 64px;
  }
  footer .utilitiesContainer {
    width: 128px;
  }
}
